# ─── Database (Supabase Production) ──────────────────────────────
SUPABASE_URL=https://lhnusxjclmdprdkogziq.supabase.co
SUPABASE_KEY=sb_secret_DfxDinMoxhtBBJJAZAcEyA_qNgGuz3v
DATABASE_URL=postgresql://postgres.lhnusxjclmdprdkogziq:7BxfjDmRDESfLJKm@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres

# ─── Backend ─────────────────────────────────────────────────────
SECRET_KEY=sipeduli-uas-2026
ENVIRONMENT=development

# ─── Frontend ────────────────────────────────────────────────────
NEXT_PUBLIC_API_URL=http://localhost:8000
